python-dotenv
langchain
openai
pinecone-client
unstructured
tabulate
pdf2image
streamlit
tiktoken
unstructured
pypdf
pandas 
numpy
langchain_openai
langchain-community
seaborn
matplotlib
sentence-transformers


